<nav class="shadow">
  <div class="container p-3">
    <div class="d-flex justify-content-between align-items-center">
        <h3>University Management System API Server</h3>
        <p class="fs-">
          <a href="https://github.com" target="_blank">GitHub Sponsors</a>
        </p>
      </div>
  </div>
</nav>
