*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5em;
  background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border-radius: 8px;
}